{% extends 'base.html' %}

{% block keywords %}{% for post in posts %}{{post.keywords}},{% endfor %}{% endblock %}

{% block left_column %}
{% include 'left_column.html' %}
{% endblock %}

{% block center_column %}
{% for post in posts %}
<div class="post_entry">
  <div class="post_title">
	<a href="posts/{{post.id}}.html">{{post.title}}</a>
  </div><br />
  <span class="post_created">{{ post.created }}</span><br /><br />
  
  {{ post.id | spoil }}<br /><br /><br />
  <span class="post_created">Тэги: <b>{{ post.id | get_tags_string }}</b></span>
</div>
{% endfor %}
<br />
<table width="100%" cellspacing="0" cellpadding="0" border="0">
<tr>
{% if pagin.prev >= 0%}
<td><a href="index{% if pagin.prev > 0 %}{{pagin.prev}}{% endif %}.html" class="prev_btn">Prev</a>
</td>
{% endif %}

{% if pagin.next %}
<td align="right">
<a class="next_btn" href="index{{pagin.next}}.html">Next</a>
</td>
{% endif %}

</tr>
</table>

{% endblock %}

{% block right_column %}
{% include "right_column.html" %}
{% endblock %}
